.alert-success {
    background-color: green
}

.alert-warning {
    background-color: yellow;
    color: black;
}

.alert-danger {
    background-color: red;
}

.alert-info {
    background-color: teal;
}
nav li{display: inline; /*background-color: rgb(0, 0, 0);*/}
nav li a{color: rgb(252, 252, 252)}
/*input{border-radius: 50%;} */
body{
    background-color: rgb(77, 76, 76);
    color: rgb(252, 252, 252);

}