.alert-success {
    background-color: rgb(59, 226, 114);
}

.alert-warning {
    background-color: yellow;
    color: rgb(212, 22, 22);
}

.alert-danger {
    background-color: red;
}

.alert-info {
    background-color: rgb(59, 226, 114);
}
h1{
    color: black;
}
h3{
    color: black;
}


nav li{display: inline; /*background-color: rgb(187, 51, 51);*/}
nav li a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(252, 252, 252)
}
/*input{border-radius: 50%;} */
body{
    background: linear-gradient(180deg, purple, orange);
    color: rgb(58, 58, 58);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: 'Zilla Slab', serif;
}

.col{
    display: grid;
    background-color: rgba(0,0,0,0.3);
    margin: 16px;
    padding: 16px;
    border-radius: 16px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    flex-wrap: wrap;
    gap: 18px;
}

.card{
    background-color: rgb(207, 207, 207);
    color: black;
    box-shadow: 10px 5px 5px rgb(62, 62, 62);
}